.logo-netflix {
  color: #f65261;
  font-family: revert;
  font-size: large;
  font-weight: 600;
  display: inline-block;
}

.logo-roulette {
  color: #f65261;
  font-family: revert;
  font-size: large;
  display: inline-block;
}
