.list-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.buttons-left-wrapper {
  padding-left: 2%;
  padding-top: 1%;
  width: 30%;
  display: flex;
  justify-content: space-between;
}
.buttons-rigth-wrapper {
  padding-right: 2%;
  padding-top: 1%;
  width: 20%;
  display: flex;
  justify-content: space-between;
}

.line {
  width: 96%;
  height: 4px;
  background-color: #424242;
  display: flex;
  margin: auto;
}

button {
  background-color: transparent;
  border: none;
  color: white;
  width: 150px;
}
